body{

}
.foda{
  width: 50%;
}

.titulo-principal{
  text-align: center;
  font-size: 35px;
  color: white;
}
.titulo2{
  text-align: center;
  color: white;
}
#missao{
  color: white;
  font-size: 20px;
}
#missao2{
  color: white;
  font-size: 20px;
}
#missao3{
  color: white;
  font-size: 20px;
  font-style: italic;
}
.titulo3{
  text-align: center;
  font-size: 35px;
  color: white;
  font-style: italic;
}
.itens{
  color: gold;
  font-style: italic;
  font-size: 20px;
}
ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%
}
.ronaldo{
  width: 50%;
}
.gif{
  text-align: center;
  padding: 20px;
}
.bg{
  background-image: url(pin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
